@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<body class="d-flex flex-column min-vh-100">
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
</body>
