@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<!-- Views/Shared/Components/CookieNotification/Default.cshtml -->
<div id="cookie-notification" class="cookie-notification">
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>This website uses cookies to ensure you get the best experience on our website.</p>
            <button id="accept-cookies-btn">Accept</button>
        </div>
    </div>
</div>

</html>
