@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Review Order";
}
@model INTEX3.Models.Order

<h1>Edit Product</h1>

<form asp-action="EditOrder" asp-controller="Home" method="post">
    <div class="form-group">
        <label asp-for="TransactionId">Transaction ID:</label>
        <input asp-for="TransactionId" class="form-control" readonly />
        <span asp-validation-for="TransactionId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CustomerId">Customer ID:</label>
        <input asp-for="CustomerId" class="form-control" />
        <span asp-validation-for="CustomerId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Date">Date:</label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DayOfWeek">Day of Week:</label>
        <input asp-for="DayOfWeek" class="form-control" />
        <span asp-validation-for="DayOfWeek" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Time">Time:</label>
        <input asp-for="Time" class="form-control" />
        <span asp-validation-for="Time" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EntryMode">Entry Mode:</label>
        <input asp-for="EntryMode" class="form-control" />
        <span asp-validation-for="EntryMode" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Amount">Amount:</label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TypeOfTransaction">Type of Transaction:</label>
        <input asp-for="TypeOfTransaction" class="form-control" />
        <span asp-validation-for="TypeOfTransaction" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CountryOfTransaction">County of Transaction:</label>
        <textarea asp-for="CountryOfTransaction" class="form-control"></textarea>
        <span asp-validation-for="CountryOfTransaction" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ShippingAddress">Shipping Address:</label>
        <input asp-for="ShippingAddress" class="form-control" />
        <span asp-validation-for="ShippingAddress" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Bank">Bank:</label>
        <input asp-for="Bank" class="form-control" />
        <span asp-validation-for="Bank" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TypeOfCard">Type of Card Address:</label>
        <input asp-for="TypeOfCard" class="form-control" />
        <span asp-validation-for="TypeOfCard" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Fraud">Fraud:</label>
        <input asp-for="Fraud" class="form-control" />
        <span asp-validation-for="Fraud" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

